:root {
  --text1: #f0f0f0;
  --nav1: #be3144;
  --bg1: #45567d;
  --bg2: #303841;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

@media (max-width: 30.625em) {
  .projects {
    padding: 6rem 1rem;
  }
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

body { 
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text1);
  background-color: black;
}

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav1);
  z-index: 10;
  padding: 1.5rem;
}

.navlist {
  display: flex;
  margin-right: 2rem;
}

ul {
  list-style: none;
}

.nav > ul > li {
  margin-right: 1.5rem;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1:nth-of-type(1) {
  font-size: 4.5rem;
}

.welcome-section > p {
  color: var(--nav1);
  font-style: italic;
  font-weight: 200;
  font-size: 2.5rem;
}

.projects {
  width: 100%;
  height: 40vh;
  background-color: var(--bg1);
  padding: 5rem 2rem;
}

h3 {
  margin-top: 4.5rem;
  position: relative;
  top: 20;
}

h2 {
  margin: 0 auto 6rem auto;
  max-width: 640px;
  font-size: 3rem;
  border-bottom: 0.2rem solid var(--text1);
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -30px;
}

.projects > div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.projects > div > p {
  text-align: center;
  font-style: italic;
  margin-bottom: -3rem
}

.underline {
  text-decoration: underline;
}

.buttons:hover {
  background: var(--bg1);
}

.buttons2:hover {
  background: var(--bg2)
}

.project-tile {
  text-align: center;
}

a {
  color: var(--text1);
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--bg2);
  width: 100%;
  height: 30vh;
  padding: 0 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.fa-regular, .fab, .fas, .fa-brands {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.contact > h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
}
