:root {
  --text1: #f0f0f0;
  --nav1: #be3144;
  --bg1: #45567d;
  --bg2: #303841;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text1);
  background-color: black;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--nav1);
  z-index: 1000;
  padding: 1.5rem;
}

.navlist {
  display: flex;
  margin-right: 2rem;
}

ul {
  list-style: none;
}

.nav > ul > li {
  margin-right: 1.5rem;
}

.welcome-section {
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

h1:nth-of-type(1) {
  font-size: 4.5rem;
}

.welcome-section > p {
  color: var(--nav1);
  font-style: italic;
  font-weight: 200;
  font-size: 2.5rem;
}

.bold {
  font-weight: 700;
  font-style: italic;
  color: var(--nav1);
}

.tech-stack {
  font-size: 2.5rem;
  margin-top: 50px;
  border-bottom: 2px solid #ff5370;
  color: #ff5370;
  margin-bottom: -20px;
}

table {
  width: 70%;
  border-collapse: collapse;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
}

th,
td {
  padding: 16px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #2c2c2c;
}

th {
  font-size: 1.3em;
}

td img {
  margin: 4px 6px 4px 0;
  height: 25px;
}

.projects {
  width: 100%;
  min-height: 80vh;
  background-color: var(--bg1);
  padding: 15rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  padding: 0;
  margin: 0 auto;
}

.project-tile ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-tile li {
  margin: 0 0 1rem 0;
  padding: 0;
}

.description {
  margin-top: 4px;
}

.description-wrap {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 0;
  margin: 0;
}

.project-tile li:hover .description-wrap {
  opacity: 1;
  max-height: 200px;
}

h2 {
  margin: 0 auto 6rem auto;
  max-width: 640px;
  font-size: 3rem;
  border-bottom: 0.2rem solid var(--text1);
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -30px;
}

.underline {
  text-decoration: underline;
}

.buttons:hover {
  background: var(--bg1);
}

.buttons2:hover {
  background: var(--bg2);
}

.project-tile {
  justify-content: center;
  align-content: center;
  text-align: center;
}

a {
  color: var(--text1);
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--bg2);
  width: 100%;
  height: 30vh;
  padding: 0 2rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.fa-regular,
.fab,
.fas,
.fa-brands {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.contact > h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 3.5rem;
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

@media (max-width: 30.625em) {
  .projects {
    padding: 6rem 1rem;
  }
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  th {
    position: sticky;
    top: 0;
    background-color: #333;
  }

  td {
    padding-left: 50%;
    position: relative;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 16px;
    width: 45%;
    white-space: nowrap;
    font-weight: bold;
    color: #999;
  }
}

@media (max-width: 480px) {
  .navlist {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }

  .nav > ul > li {
    margin: 1rem 0;
  }

  .welcome-section h1:nth-of-type(1) {
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
  }

  .welcome-section {
    height: auto;
  }

  .welcome-section > p {
    font-size: 2rem;
    text-align: center;
  }

  .tech-stack {
    font-size: 2rem;
    text-align: center;
    margin-bottom: -80px;
  }

  table {
    width: 100%;
    font-size: 1.4rem;
  }
  
  th {
    visibility: hidden;
  }

  td,
  th {
    padding: 1rem;
    word-break: break-word;
  }

  td:before {
    font-size: 1.2rem;
  }

  .projects {
    padding: 6rem 1rem;
  }

  .project-tile {
    width: 100%;
  }

  h2 {
    font-size: 2.4rem;
    top: 0;
  }

  .contact {
    height: auto;
    padding: 3rem 1rem;
  }

  .contact > h1 {
    font-size: 2.5rem;
  }

  .contact-details {
    font-size: 2rem;
  }

  .social-icons {
    flex-direction: column;
    gap: 1rem;
  }
}
